<div class="contact">
  {{ if .contact.email }}
    <div class="contact-email">
      <strong>Имейл:</strong>
      <a href="mailto:{{ .contact.email }}">{{ .contact.email }}</a>
    </div>
  {{ end }}
  {{ if .contact.phone }}
    <div class="contact-phone">
      <strong>Телефон:</strong>
      {{ .contact.phone }}</div>
  {{ end }}
  {{ if .contact.address }}
    <div class="contact-address">
      <strong>Адрес:</strong>
      {{ .contact.address }} 
      

    </div>
  {{ end }}
  <div class="g-maps-embed">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d181.77971947084666!2d27.91458979948781!3d43.19951483953057!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40a453f10f9ab5ef%3A0x964ec792e4d551f0!2sVarna%20CenterOdesos%2C%20ul.%20%22Gabrovo%22%202%2C%209000%20Varna!5e0!3m2!1sen!2sbg!4v1709122575419!5m2!1sen!2sbg" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</div>