{{ define "main" }}
<div class="section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12">
        {{ partial "framework/sections/heading/heading.html" (dict "title" .Title "description" .Description "image"
        .Params.image) }}
        {{/*  заглавие на категорията  */}}
      </div>
    </div>
  </div>
</div>

{{ $projects := where .Site.RegularPages "Section" "collection" }}
{{ if ne $projects.Len 0 }}
    <div class="section pt-0">
        <div class="container">
            <div class="row-custom-masonry">
                <!-- {{ $filteredProjects := where $projects "Params.genres" "intersect" (slice .Title) }} -->
                {{ $paginator := .Paginate (where $projects "Params.categories" "intersect" (slice .Title)) }}
                {{ range $index, $card := $paginator.Pages }}
                    <div class="item-custom-masonry">
                        {{ partial "theme/summary-piece.html" (dict "page" $card) }}
                    </div>
                {{ end }}
            </div>
            {{ partial "framework/components/paginator.html" . }}
        </div>
    </div>
{{ end }}
{{ end }}
