@import "framework";
@import "theme";

.g-maps-embed {
    margin: 1rem 0 1rem 0;
}

body {
    font-size: 14px;
}

a {
    transition: color 0.3s;
}

a:hover,
.summary.summary-project .summary-title a:hover,
.footer .footer-menu ul.footer-menu li a:hover {
    text-decoration: none;
    color: #a5a17b;
    transition: color 0.3s;
}

.header {
    background: #e9e9e9;
    padding: 20px 0;
    margin-bottom: 80px;

    .logos .logo .logo-text {
        text-transform: uppercase;
        font-weight: 400;
        line-height: 28px;
    }
}

.menu-main ul li > a:hover,
.menu-main ul li:hover > a,
.menu-main ul li.active > a {
    text-decoration: none;
    color: #a5a17b;
    background: #fff;
    font-weight: 400;
}

.summary .summary-thumbnail {
    max-height: none;
}

.summary.summary-project,
.summary.summary-project .summary-thumbnail {
    border-radius: 0;
}

.row-custom-masonry {

    column-count: 4;
    column-gap: 5px;

    .item-custom-masonry {
        margin: 0;
        display: grid;
        grid-template-rows: 1fr auto;
        margin-bottom: 5px;
        break-inside: avoid;
    }

    .summary, .summary.summary-project {
        position: relative;
        overflow: hidden;
        box-sizing: border-box;

        .summary-thumbnail-artpiece {
            max-width: 424px;
            
            a {
                display: block;
                position: relative;
                overflow: hidden;
        
                img {
                    transition: all 0.5s ease-in-out;
                }
            }
        }
    
        .summary-content {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            background: rgba(255,255,255,0.8);
            color: #333;
            padding: 10px 15px;
            opacity: 0;
            visibility: hidden;
            transform: translateY(100%);
            transition: all 0.5s ease-in;
        }

        &:hover .summary-thumbnail-artpiece a img {
            opacity: 0.8;
            transform: scale(1.1);
        }

        &:hover .summary-content {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
        }
    }
    
    & > * {
        padding: 0;
    }
}

.name-list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    a {
        display: inline-block;
        vertical-align: middle;
        min-width: 270px;
        padding: 5px 10px;
        margin-right: 10px;
        border-radius: 3px;
        font-size: 16px;

        &:hover {
            background: #fff;
            color: #a5a17b;
            box-shadow: 0 0 2px rgba(0,0,0,0.5);
        }
    }
}

.footer {
    background: #e9e9e9;
    padding: 20px 0;
    font-size: 13px;
}
