@import "framework";
@import "theme";

.g-maps-embed {
    margin: 1rem 0 1rem 0;
}

// .center-wrapper {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     height: auto; /* Adjust as needed */
//   }
  
//   img {
//     max-width: 100%;
//     height: 53vh;
//   }

body {
    font-size: 14px;
}
.header {
    padding: 20px 0;
    margin-bottom: 80px;
}

.summary .summary-thumbnail {
    max-height: none;
}

.summary.summary-project,
.summary.summary-project .summary-thumbnail {
    border-radius: 0;
}

.footer {
    padding: 20px 0;
    font-size: 13px;
}