<form name="contact" method="POST" action="success" data-netlify="true" name="{{ .Site.Params.contact_form.netlify_form_name }}">
    <div class="row">
        <div class="col">

            <div class="form-group mb-3">
                <label for="artwork" class="form-label">Име на произведението</label>
                <input id="artwork" type="text" name="artwork" class="form-control" placeholder="" value="{{ .Title }}" required />
            </div>
            <div class="form-group mb-3">
                <label for="name" class="form-label">Вашето име</label>
                <input id="name" type="text" name="name" class="form-control" placeholder="" value="" required />
            </div>
            <div class="form-group mb-3">
                <label for="email" class="form-label">Вашия имейл</label>
                <input id="email" type="email" name="email" class="form-control" placeholder="" value="" required />
            </div>
            <div class="form-group mb-3">
                <label for="phone" class="form-label">Телефон за контакт</label>
                <input id="phone" type="text" name="phone" class="form-control" placeholder="" value="" />
            </div>
        </div>
    </div>

    <div class="form-group">
        <input type="submit" name="submit" class="button button-primary" value="{{ .Params.contact.button_text | default "Submit" }}" />
    </div>
</form>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Get the title, category, and date from the URL query parameters and decode them
        const urlParams = new URLSearchParams(window.location.search);
        const title = urlParams.get('title');
        const decodedTitle = decodeURIComponent(title || '');
        const category = urlParams.get('category');
        const decodedCategory = decodeURIComponent(category || '').replace(/_/g, ' ');
        const date = urlParams.get('date');
        const decodedDate = decodeURIComponent(date || '');

        // Concatenate the values to create a custom pre-filled text
        const preFilledText = `${decodedTitle} - ${decodedCategory} - ${decodedDate}`;

        // Set the value of the "Име на произведение" field
        const artworkField = document.getElementById('artwork');
        if (artworkField) {
            artworkField.value = preFilledText || '';
        }
    });
</script>





