<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{ if .Site.Params.dark_mode.enable_dark_mode }}
    <script>
      localStorage.getItem('darkMode') === 'true' && document.documentElement.setAttribute('data-bs-theme', 'dark');
    </script>
    {{ end }}

    {{ partial "framework/head/css.html" . }}
    {{ partial "framework/head/feed.html" . }}
    {{ partial "framework/head/favicon.html" . }}
    {{ partial "framework/head/og-meta-tags.html" . }}
    {{ partial "framework/head/seo-meta-tags.html" . }}
    {{ partial "framework/head/fonts.html" . }}

    {{ block "header_css" . }}{{ end }}
</head>

<body class='page {{ block "body_classes" . }}{{ end }}'>


    <div id="wrapper" class="wrapper">
        {{ block "main" . }}{{ end }}
    </div>


    <script src="https://unpkg.com/vanilla-back-to-top@7.2.1/dist/vanilla-back-to-top.min.js"></script>
<script>addBackToTop({
  diameter: 56,
  backgroundColor: 'rgb(0, 0, 0)',
  textColor: 'rgb(255, 255, 255)'
})</script>
</body>
</html>