{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-default-list{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}
<div class="section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12">
        {{ partial "framework/sections/heading/heading.html" (dict "title" .Title "description" .Description "image"
        .Params.image "badge" "Техника") }}
        {{/*  заглавие на категорията  */}}
      </div>
    </div>
  </div>
</div>

{{ $projects := where .Site.RegularPages "Section" "collection" }}
{{ if ne $projects.Len 0 }}
    <div class="section pt-0">
        <div class="container">
            <div class="row">
                {{ $filteredProjects := where $projects "Params.tags" "intersect" (slice .Title) }}
                {{ range $index, $card := $filteredProjects }}
                    <div class="col-12 col-md-6 col-lg-3 mb-3">
                        {{ partial "theme/summary-piece.html" (dict "page" $card) }}
                    </div>
                {{ end }}
            </div>
        </div>
    </div>
{{ end }}
{{ end }}




{{/*  
{{ define "main" }}

    {{ if .Params.hero }}
        {{ partial "framework/components/hero.html" (dict "title" .Title "description" .Params.description "background" .Params.hero.background "blend_mode" .Params.hero.blend_mode "theme" .Params.hero.theme)}}
    {{ else }}
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col col-lg-12">
                        <h1>{{ .Title }}</h1>
                    </div>
                    {{ if .Params.image }}
                        <div class="col col-lg-12" >
                            <img class="img-fluid" src={{ .Params.image | relURL }} />
                        </div>
                    {{ end }}
                </div>
            </div>
        </div>
    {{ end }}
    {{ $pages := .Pages }}
    {{ $pagesCount := len $pages }}
    {{ $summaryType := .Params.summary_type }}
    {{ if gt ($pagesCount) 0 }}
        <div class="section">
            <div class="container ">
                <div class="row">
                    {{ range .Pages }}
                        <div class="col-12 col-md-6 col-lg-4 mb-3">
                            {{ if $summaryType }}
                                {{ partial $summaryType . }}
                            {{ else }}
                                {{ partial "framework/summary/summary-full.html" . }}
                            {{ end }}
                        </div>
                    {{ end }}
                </div>
            </div>
        </div>
    {{ end }}

    {{ if .Content }}
        <div class="section section-border-top">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-8">
                        <div class="content">
                            {{ .Content }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{ end }}
    
{{ end }}  */}}