.heading .heading-heading h1 strong {
  text-decoration-color: var(--color-base-bg-3);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--color-base-bg);
  color: var(--color-base-text);
  font-size: 15px;
  h3 {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 7px;
  }
  .footer-info {
    h2,
    h3 {
      font-weight: 700;
      font-size: 23px;
      margin-bottom: 7px;
      color: inherit;
    }
  }
}

.heading {
  .heading-heading {
    h1 {
      font-size: 36px;
      letter-spacing: -1px;
      line-height: 1.1;
      font-weight: 700;
      @include media-breakpoint-up(md) {
        font-size: 86px;
        line-height: 1;
        width: 80%;
        letter-spacing: -2px;
      }
    }
  }
}

.content {
  > h1,
  h2,
  h3,
  h4 {
    &:first-child {
      margin-top: 0;
    }
  }
}

.menu-main {
  ul {
    li {
      i {
        font-size: 14px;
      }

      &.active {
        a {
          font-weight: bold;
        }
      }
    }
  }
}

.menu-item-dropdown {
  i {
    font-size: inherit;
  }
}

.dropdown-menu {
  left: initial;
  background-color: var(--color-base-bg-2);
  box-shadow: rgba(17, 17, 17, 0.1) 0px 20px 25px -5px,
    rgba(17, 17, 17, 0.04) 0px 10px 10px -5px;
  html[data-bs-theme="dark"] & {
    box-shadow: rgba(127, 127, 127, 0.25) 0px 25px 50px -12px;
  }
}

.page-category {
  .summary {
    border: none;
  }
}

.page-posts-single {
  .title {
    h1 {
      font-weight: 500;
    }
  }
  .categories {
    .category-link {
      display: inline-block;
      a {
        font-size: 15px;
        background: var(--color-base-bg-2);
        color: var(--color-base-text);
        display: inline-flex;
        font-family: $font-family-monospace;
        padding: 6px 12px;
        border-radius: 6px;
        margin-right: 10px;
        &:hover {
          text-decoration: none;
          background: var(--color-base-bg-3);
        }
      }
    }
  }
}

.page-projects {
  .project-heading {
    h1 {
      font-size: 36px;
      letter-spacing: -2px;
      line-height: 1.2;
      font-weight: 700;
      margin-bottom: 10px;
      @include media-breakpoint-up(md) {
        font-size: 48px;
      }
    }
  }
  .project-categories {
    margin-bottom: 40px;
    a {
      color: var(--color-base-text);
      font-weight: 600;
      line-height: 27px;
    }
  }
  .project-description {
    width: 80%;
    p {
    }
  }
  .gallery {
    .gallery-item {
      .gallery-image {
        img {
          vertical-align: bottom;
          max-width: 100%;
          height: auto;
        }
      }
      .gallery-caption {
        margin-top: 5px;
        font-size: 14px;
        strong {
          font-weight: 600;
        }
        span {
          color: var(--color-base-text-2);
          font-weight: 400;
        }
      }
    }
  }
  .gallery-single-column {
    display: grid;
    gap: $grid-gutter-width;
    grid-template-columns: 1fr;
  }
  .gallery-two-column {
    display: grid;
    gap: $grid-gutter-width;
    grid-template-columns: 1fr;
    @include media-breakpoint-up(md) {
      grid-template-columns: 1fr 1fr;
      grid-auto-rows: 300px;
    }
    @include media-breakpoint-up(md) {
      grid-auto-rows: 400px;
    }

    .gallery-item {
      overflow: hidden;
    }
  }
  .gallery-masonry {
    margin-left: calc(#{$grid-gutter-width} / 2 * -1);
    margin-right: calc(#{$grid-gutter-width} / 2 * -1);
    display: flex;

    .gallery-sizer {
      width: 100%;
      @include media-breakpoint-up(md) {
        width: 50%;
      }
    }
    .gallery-item {
      padding: 15px;
      width: 100%;
      @include media-breakpoint-up(md) {
        width: 50%;
      }
    }
  }
  .content {
    @include media-breakpoint-up(md) {
      width: 90%;
    }
  }
  .project-stats {
    margin-top: 50px;
  }
  .project-date,
  .project-role,
  .project-client {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 24px;
    strong {
      display: inline-block;
      font-weight: 600;
      width: 70px;
    }
    span {
      display: inline-block;
      font-weight: 400;
    }
  }
}

.summary.summary-post {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  overflow: hidden;
  position: relative;
  border-radius: 6px;
  background-color: unset;
  .summary-thumbnail {
    border-radius: 6px;
    overflow: hidden;
    @include media-breakpoint-down(md) {
      margin-right: 0;
      max-width: 100%;
    }
    a {
      display: block;
    }
    img {
      aspect-ratio: 16 / 9;
      width: 100%;
      object-fit: contain;
      &:hover {
        opacity: 0.8;
      }
    }
    &.summary-thumbnail-large {
      @include media-breakpoint-up(md) {
        max-height: 260px;
      }
      @include media-breakpoint-up(xl) {
        max-height: 300px;
      }
    }
  }
  .summary-content {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 0;
  }
  .summary-title {
    h2,
    h3 {
      font-size: 22px;
      font-weight: 500;
      line-height: 1.3;
      letter-spacing: -0.1px;
      margin-bottom: 6px;
      @include media-breakpoint-up(md) {
        font-size: 26px;
      }
    }
    a {
      color: var(--color-base-text);
    }
  }
  .summary-description {
    p {
      line-height: 1.5;
      font-weight: 400;
      font-size: 16px;
      color: var(--color-base-text-2);
      margin: 0;
    }
  }
  .summary-title + .summary-description {
    margin-top: 0;
  }
  .summary-readmore {
    margin-top: auto;
    line-height: 1;
    i {
      margin-left: 5px;
      margin-top: 4px;
    }
  }
  .summary-date {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: 700;
    color: var(--color-base-text-2);
    font-size: 15px;
    margin-bottom: 10px;
  }
  .summary-categories {
    display: inline-flex;
    font-size: 12px;
    font-family: var(--font-family-monospace);

    > a {
      background-color: var(--color-base-bg-2);
      padding: 3px 7px;
      border-radius: 2px;
      margin-right: 10px;
    }
  }
  .summary-image {
    width: 60px;
    margin-bottom: 10px;
    img {
      max-width: 100%;
      height: auto;
    }
  }
  .summary-meta {
    display: flex;
    margin-bottom: 10px;
    .on {
      margin: 0 4px 0 4px;
    }
  }
  .summary-authors {
    margin-right: 7px;
    display: flex;
    .author {
      .author-image {
        img {
          width: 40px;
          height: 40px;
        }
      }
    }
  }
  // Tweaks for dark mode
  html[data-bs-theme="dark"] & {
  }
}
.summary-post.summary-row {
  border-radius: 0;
  box-shadow: none;
  @include media-breakpoint-up(md) {
    flex-direction: row;
  }
  .summary-thumbnail {
    @include media-breakpoint-up(md) {
      min-height: auto;
      padding: 0;
      margin-bottom: 10px;
      width: 300px;
      margin-right: 30px;
      margin-bottom: 0;
      a {
        background-color: var(--color-base-200);
      }
    }
  }
  .summary-content {
    @include media-breakpoint-up(md) {
      padding: 0;
    }
  }
}
.summary-post.summary-list {
  border-radius: 0;
  box-shadow: none;
  @include media-breakpoint-up(md) {
    flex-direction: row;
  }
  .summary-thumbnail {
    padding: 0;
    margin-bottom: 10px;
    margin-right: 16px;
    margin-bottom: 0;
    height: 60px;
    width: 80px;
    img {
      object-fit: cover;
    }
  }
  .summary-meta {
    margin-bottom: 2px;
  }
  .summary-title {
    margin-bottom: 4px;
    font-weight: 600;
    h3 {
      font-size: 20px;
      font-weight: 500;
      line-height: 1.3;
      margin: 0;
    }
    a {
      color: var(--color-base-text);
    }
  }
  .summary-content {
    @include media-breakpoint-up(md) {
      padding: 0;
    }
  }
  .summary-authors {
    display: none;
  }
  .summary-description {
    display: none;
  }
  .summary-categories {
    display: none;
  }
  .summary-date {
    margin-bottom: 0;
  }
}
.summary-post.summary-full {
  .summary-thumbnail {
    @include media-breakpoint-up(md) {
      min-height: auto;
      padding: 0;
      margin-bottom: 10px;
      width: auto;
      max-height: none;
      margin-right: 0;
      margin-bottom: 30px;
      a {
        background-color: var(--color-base-bg);
      }
    }
  }
  .summary-content {
  }
  .summary-categories {
    margin-top: 20px;
  }
  .summary-meta {
    margin-top: 20px;
    order: 4;
  }
  .summary-title {
    margin-bottom: 10px;
    font-weight: 500;
    line-height: 1.4;
    flex-basis: 50%;
    h3 {
      @include media-breakpoint-up(lg) {
        font-size: 36px;
      }
    }
    a {
      color: var(--color-base-text);
    }
  }
  .summary-description {
    flex-basis: 40%;
  }
  .summary-content {
    @include media-breakpoint-up(md) {
      padding: 0;
    }
  }
}

.summary.summary-project {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  background-color: var(--color-base-bg);
  overflow: hidden;
  position: relative;
  border-radius: 6px;
  border: none;
  .summary-thumbnail {
    border-radius: 6px;
    overflow: hidden;
    a {
      display: block;
    }
    img {
      aspect-ratio: 16/9;
      width: 100%;
      object-fit: cover;
      &:hover {
        opacity: 0.8;

      }
    }
    &.summary-thumbnail-large {
      @include media-breakpoint-up(md) {
        max-height: 360px;
      }
      @include media-breakpoint-up(xl) {
        max-height: 500px;
      }
    }
  }
  .summary-title {
    h2,
    h3 {
      font-weight: 500;
      font-size: 20px;
      letter-spacing: -0.2px;
      margin-bottom: 0;
    }
    a {
      color: var(--color-base-text);
    }
  }
  .summary-description {
    margin: 10px 0 10px 0;
    p {
      line-height: 1.3;
      color: var(--color-base-text-2);
      margin: 0;
      font-weight: normal;
    }
  }
  .summary-title + .summary-description {
    margin-top: 0;
  }
  .summary-client {
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    color: var(--color-base-text-2);
  }
  .summary-content {
    padding: 0px;
    padding-top: 6px;
    display: flex;
    flex: 1;
    flex-direction: column;
  }
  .summary-readmore {
    margin-top: auto;
    line-height: 1;
    i {
      margin-left: 5px;
      margin-top: 4px;
    }
  }
  .summary-date {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: normal;
    color: var(--color-base-text-2);
    font-weight: normal;
    font-size: 16px;
  }
  .summary-categories {
    display: inline-flex;
    font-size: 12px;
    font-family: var(--font-family-monospace);
    > a {
      background-color: var(--color-base-bg-2);
      padding: 3px 7px;
      border-radius: 2px;
      margin-right: 10px;
    }
  }
}
