{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-home{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}

<div  class="section"></div>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2>представя</h2>

                </div>
            </div>
        </div>
    
        {{ $projects := where .Site.RegularPages "Section" "exhibitions" }}
        {{ $limit := 1 }}
        {{ $columns:= 1 }}
        
        {{ if gt (len $projects) 0 }}
            <div class="container">
                <div class="row">
                    {{ range $index, $card := first $limit $projects }}
                        <div class="col-12 col-md-6 col-lg-{{ div 12 $columns }} mb-gutter mt-gutter {{ if eq $index 0 }}mt-0{{ else if eq $index (sub (len (first $limit $projects)) 1) }} mb-0{{ end }} mt-md-0">
                            {{ partial "theme/summary-project.html" (dict "page" $card ) }}
                        </div>
                    {{ end }}
                </div>
            </div>
        {{ end }}
{{/*  
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2>минали събития</h2>
                </div>
            </div>
        </div>

        {{ $projects := where .Site.RegularPages "Section" "exhibitions" }}
        {{ $sorted_projects := $projects.ByDate }}
        {{ $sort_by := .Params.projects.sort | default "date" }}
        {{ if eq $sort_by "weight" }}
            {{ $sorted_projects = $projects.ByWeight }}
        {{ end }}
        {{ $columns:= .Params.projects.columns | default 3 }}
        {{ $limit := 4 }} <!-- Hardcoded limit -->
        {{ $start := 1 }} <!-- Number of items to skip, change this as per your requirement -->
        {{ if gt $sorted_projects.Len 0 }}
            <div class="section pt-0">
                <div class="container">
                    <div class="row">
                        {{ range $index, $card := after $start $sorted_projects }}
                            <div class="col-12 col-md-6 col-lg-{{ div 12 $columns }} mb-gutter mt-gutter {{ if eq $index 0 }}mt-0{{ else if eq $index (sub (len (after $start $sorted_projects)) 1) }} mb-0{{ end }} mt-md-0">
                                {{ partial "theme/summary-project.html" (dict "page" $card ) }}
                            </div>
                        {{ end }}
                    </div>
                </div>
            </div>
        {{ end }}  */}}
        
    
    
    

{{/*  CRT ALL AND /  */}}
        {{/*  {{ $posts := where .Site.RegularPages "Section" "collection" }}
        {{ $limit := .Params.posts.limit }}
        {{ $sort_by := .Params.posts.sort | default "date" }}
        {{ $sorted_posts := $posts.ByDate.Reverse }}
        {{ if eq $sort_by "weight" }}{{ $sorted_posts := $posts.ByWeight }}{{ end }}
        {{ $postColumns:= .Params.posts.columns | default 3 }}
        {{ if gt $sorted_posts.Len 0 }}
        <div class="section section-base-bg-2">
            <div class="container">
                <div class="row">
                    {{ partial "framework/grid/grid-header.html" (dict "heading" .Params.posts.heading "sub_heading" .Params.posts.sub_heading) }}
                    {{ range $index, $card := first $limit $sorted_posts }}
                        <div class="col-12 col-md-6 col-lg-{{ div 12 $postColumns }} mb-gutter mt-gutter {{ if eq $index 0 }}mt-0{{ else if eq $index (sub (len (first $limit $sorted_posts)) 1) }} mb-0{{ end }} mt-md-0">
                            {{ with $card.Params.thumbnail }}
                            <div class="summary-thumbnail-artpiece">
                                <a href="{{ $card.RelPermalink }}"><img alt="{{ $card.Title }}" src="{{ . | relURL }}"></a>
                            </div>
                            {{ end }}
                            {{ partial "theme/summary-post.html" (dict "page" $card ) }}
                        </div>
                    {{ end }}
                    {{ partial "framework/grid/grid-footer.html" (dict "view_more_button_text" .Params.posts.view_more_button_text "view_more_button_link" .Params.posts.view_more_button_link)}}
                </div>
            </div>
        </div>
        {{ end }}  */}}
        

{{ end }}

<script>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", (user) => {
        if (!user) {
          window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
          });
        }
      });
    }
  </script>