{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-projects page-project-left{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}
{{$limit:= .Params.gallery_limit | default 6 }}

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="gallery gallery-single-column">
          {{ with .Params.gallery }}
            {{ range first $limit . }}
            <div class="gallery-item">
              <div class="gallery-image"><img src="{{ .image | relURL }}" alt="{{ .Title }}" /></div>
              {{ with .caption }}
              <div class="gallery-caption">{{ . | safeHTML }}</div>
              {{ end }}
            </div>
            {{ end }}
          {{ end }}
        </div>
      </div>
      <div class="col-12 col-md-6 mt-6 mt-md-0">
        {{ with .Title }}
        <div class="project-heading">
          <h1>{{ . }}</h1>
        </div>
        {{ end }}
        {{ if .Params.categories }}
          <div class="mb-2">
            {{ partial "framework/blog/post-author.html" . }}
          </div>
        {{ end }}

        {{ if .Params.genres }}
          <div class="mb-2">
            {{ partial "framework/blog/post-genre.html" . }}
            <!-- {{ range .Params.genres  }}
              <a href="{{ "/genres/" | absURL }}{{ . | urlize }}"> {{ . }}</a>
            {{ end }} -->
          </div>
        {{ end }}

        {{ with .Params.year }}
        <div class="project-client">
          <strong>Година: </strong><span>{{ . }}</span>
        </div>
        {{ end }}
        
        {{ if .Params.tags }}
        <div class="project-client">
          <strong>Техника: </strong> {{ range $index, $tag := .Params.tags }}{{ if ne $index 0 }}, {{ end }}<a href="{{ "/tags/" | relLangURL }}{{ $tag | urlize }}">{{ $tag }}</a>{{ end }}
        </div>
        {{ end }}
      
        {{ with .Params.size }}
        <div class="project-client">
          <strong>Размер: </strong><span>{{ . }}</span>
        </div>
        {{ end }}

        <div class="content">{{ .Content }}</div>

        <a href="/contact?title={{ .Title | urlize }}&category={{ with .Params.categories }}{{ index . 0 | urlize }}{{ end }}&date={{ .Date.Format "(20060102)" }}">
          {{ if not .Params.sold }}
            <div class="form-group">
              <input type="submit" name="submit" class="button button-primary" value="{{ "Запитване" }}" />
            </div>
          {{ end }}
        </a>
        
      </div>
    </div>
  </div>
</div>

{{ $currentPostCategories := .Params.categories }}
{{ $currentPostURL := .Permalink }}
{{ $posts := where .Site.RegularPages "Section" "collection" }}
{{ $limit := 3 }}
{{ $sort_by := .Params.posts.sort | default "date" }}
{{ $sorted_posts := $posts.ByDate.Reverse }}
{{ if eq $sort_by "weight" }}{{ $sorted_posts = $posts.ByWeight }}{{ end }}
{{ $postColumns := 3 }}
{{ $matching_posts := where $sorted_posts ".Params.categories" "intersect" $currentPostCategories }}
{{ if gt (len $matching_posts) 1 }}
    <div class="section section-base-bg-2">
        <div class="container">
            <div class="row">
                {{ $categoryHeading := printf "Още от %s" (index .Params.categories 0) }}
                {{ partial "framework/grid/grid-header.html" (dict "heading" $categoryHeading "sub_heading" "") }}
                {{ range $index, $card := first $limit $matching_posts }}
                    {{ if ne $card.Permalink $currentPostURL }} <!-- Exclude current post -->
                        <div class="col-12 col-md-6 col-lg-{{ div 12 $postColumns }} mb-gutter mt-gutter {{ if eq $index 0 }}mt-0{{ else if eq $index (sub (len (first $limit $matching_posts)) 1) }} mb-0{{ end }} mt-md-0">
                            {{ with $card.Params.thumbnail }}
                                <div class="summary-thumbnail-artpiece">
                                    <a href="{{ $card.RelPermalink }}"><img alt="{{ $card.Title }}" src="{{ . | relURL }}"></a>
                                </div>
                            {{ end }}
                            {{ partial "theme/summary-post.html" (dict "page" $card ) }}
                        </div>
                    {{ end }}
                {{ end }}
                {{ if .Params.categories }}
                    {{ $category := index .Params.categories 0 }}
                    {{ $categoryPage := printf "/categories/%s" ($category | urlize) | relLangURL }}
                    {{ partial "framework/grid/grid-footer.html" (dict "view_more_button_text" "Виж още" "view_more_button_link" $categoryPage) }}
                {{ end }}
            </div>
        </div>
    </div>
{{ end }}




{{ end }}
