{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-projects page-project-left{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}
{{$limit:= .Params.gallery_limit | default 6 }}
{{$categories := .Params.categories}} <!-- Define $categories -->

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="gallery gallery-single-column">
          {{ range first $limit .Params.gallery }}
          <div class="gallery-item">
            <div class="gallery-image"><img src="{{ .image | relURL }}" /></div>
            {{ with .caption }}
            <div class="gallery-caption">{{ . | safeHTML }}</div>
            {{ end }}
          </div>
          {{ end }}
        </div>
      </div>
      <div class="col-12 col-md-6 mt-6 mt-md-0">
        {{ with .Title }}
        <div class="project-heading">
          <h1>{{ . }}</h1>
        </div>
        {{ end }}
        
        <div class="post-categories">
          {{ if .Params.artist }} <!-- Check if $artist is defined -->
            {{ range $index, $element := .Params.artist }}
              <h3 style="display: inline;">{{ $element }}</h3>{{ if ne $index (sub (len $.Params.artist) 1) }}, {{ end }}
            {{ end }}
          {{ end }}
        </div>
        
        {{ with .Params.when }}
        <div class="project-date">
        <span>{{ . }}</span>
        </div>
        {{ end }}
        
        <div class="content">{{ .Content }}</div>
        
        
        

      </div>
    </div>
  </div>
</div>
{{ end }}
